# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=
# Mollie
MOLLIE_API_KEY=test_xxx
# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
# Sendcloud
SENDCLOUD_PUBLIC_KEY=
SENDCLOUD_SECRET_KEY=
# Admin
ADMIN_EMAIL=
# Email
RESEND_API_KEY=
# Site
NEXT_PUBLIC_SITE_URL=https://www.vamipro.nl
